@forward './modules/animations/index.scss';
@forward './modules/base/index.scss';
@forward './modules/transition/index.scss';

@forward './modules/elInput.scss';
@forward './modules/elPagination.scss';
@forward './modules/elRadio.scss';
@forward './modules/elTable.scss';
@forward './modules/icon.scss';
@forward './modules/layout.scss';
@forward './modules/link.scss';
@forward './modules/print.scss';
@forward './modules/progress.scss';
@forward './modules/skeleton.scss';
@forward './modules/_page-utils.scss';
@forward './modules/do-folder.scss';
@forward './modules/_row-selector.scss';
@forward './modules/app-shell.scss';
@forward './modules/login.scss';
@forward './modules/_app-splash.scss';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
